{% extends "Template.html" %}
{% load static %}

{% block estilos %}
    <link rel="stylesheet" href="{% static 'css/galeria.css' %}">
    <link rel="stylesheet" href="{% static 'https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css' %}">
    <script src="{% static 'https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js' %}"></script>
    <script src="{% static 'https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js' %}"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins" >
{% endblock estilos %}

{% block contenido %}
    <script>
      $(document).ready(function () {
          $('.slider').bxSlider();
      });
    </script>

    <div class="row">
      <div class="contenido">
          <h1>Empleados</h1>
          <div class="galeria">
            <a target="_blank" href="fotos/empleados/emp7.jpg">
              <img src="{% static 'fotos/empleados/emp7.jpg' %}"  width="600" height="400">
            </a>  
          </div>
              
          <div class="galeria">
            <a target="_blank" href="fotos/empleados/emp3.jpg">
              <img src="{%static 'fotos/empleados/emp3.jpg'%}" alt="Forest" width="600" height="400">
            </a>
          </div>
              
          <div class="galeria">
            <a target="_blank" href="fotos/empleados/emp6.jpg">
              <img src="{%static 'fotos/empleados/emp6.jpg'%}" alt="Northern Lights" width="600" height="400">
            </a>
          </div>
              
          <div class="galeria">
            <a target="_blank" href="fotos/empleados/emp8.jpg">
              <img src="{%static 'fotos/empleados/emp8.jpg'%}" alt="Mountains" width="600" height="400">
            </a>
          </div>
            
          <div class="galeria">
            <a target="_blank" href="fotos/empleados/empb.jpg">
              <img src="{%static 'fotos/empleados/empb.jpg'%}" alt="Mountains" width="600" height="400">
            </a>
          </div>
            
          <div class="galeria">
            <a target="_blank" href="fotos/empleados/empn.jpg">
              <img src="{%static 'fotos/empleados/empn.jpg'%}" alt="Mountains" width="600" height="400">
            </a>
          </div>
      </div>
    </div>

    <div class="line"></div>

      <div class="row">
        <div class="contenido2">
            <h1>Instalacion</h1>
            <div class="galeria">
                <a target="_blank" href="fotos/instalacion/inst1.jpg">
                    <img src="{%static 'fotos/instalacion/inst1.jpg'%}"  width="600" height="400">
                </a>             
            </div>
                      
            <div class="galeria">
                <a target="_blank" href="fotos/instalacion/inst2.jpg">
                  <img src="{%static 'fotos/instalacion/inst2.jpg'%}"  width="600" height="400">
                </a>               
            </div>
                      
            <div class="galeria">
                <a target="_blank" href="fotos/instalacion/inst3.png">
                    <img src="{%static 'fotos/instalacion/inst3.png'%}"  width="600" height="400">
                </a>                        
            </div>

            <div class="galeria">
                <a target="_blank" href="fotos/instalacion/inst4.jpg">
                    <img src="{%static 'fotos/instalacion/inst4.jpg'%}"  width="600" height="400">
                </a>
                     
            </div>

            <div class="galeria">
              <a target="_blank" href="fotos/instalacion/inst5.jpg">
                  <img src="{%static 'fotos/instalacion/inst5.jpg'%}"  width="600" height="400">
              </a>         
            </div>

            <div class="galeria">
              <a target="_blank" href="fotos/instalacion/inst6.jpg">
                <img src="{%static 'fotos/instalacion/inst6.jpg'%}"  width="600" height="100">
            </a>    
            </div>

        </div>
      </div>

 {% endblock contenido %}