{% extends "Template.html" %}
{% load static %}

{% block estilos %}
  <link rel="stylesheet" href="{% static 'css/for_estilo.css' %}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js'"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins" >
    <link rel="stylesheet" href="{% static 'css/galeria_Lightbox.css' %}">
    <script src="{% static 'js/galeria_Lightbox.js' %}"></script>  
{% endblock estilos %}

{% block contenido %}
  <form action="{% url 'LOGIN' %}" method="POST" class="login-form" class="form1" onsubmit="return validarTodo()">
    {% csrf_token %}          
      <p class="login-text">
         <h2 style="color:rgba(255, 255, 255, 0.63);font-family: 'Poppins'; padding: 20px 50px; " >Iniciar Sesion</h2>       
      </p>
      <input type="text" class="login-username" autofocus="true" required="true" placeholder="Nombre Usuario" 
         name="usuario" id="usuario"/>
      <input type="password" class="login-username" autofocus="true" required="true" placeholder="Contraseña" 
         name="clave"  id="txtclave" />
      <input type="submit" name="Login" value="Ingresar" class="login-submit" />
  </form>
  
  <div class="underlay-photo"></div>
  <div class="underlay-black"></div> 
  {% if sw == 1%}
    <script>
        setTimeout(function(){ alert("Usuario ya Existe"); }, 500);
    </script>
  {% endif %}   
  {% if sw == 2%}
    <script>
        setTimeout(function(){ alert("Contraseña Incorrecta, Escriba Nuevamente"); }, 500);

    </script>
  {% endif %}            
{% endblock contenido %}
